@import '../local_modules/normalize';

@font-face {
    font-family: Digital;
    src: url('../../src/fonts/digital-7/Digital7-1e1Z.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {box-sizing: inherit;}

html {box-sizing: border-box;}

body {margin: 0;}

img {max-width: 100%;}

a {text-decoration: none;}

#body {
    display: flex;
    background-color: aqua;
    height: 100vh;
    font-family: 'Digital';
}

#calculator {
    height: 100vh;
    width: 70vw;
    background-color: coral;
}

#history {
    height: 100vh;
    width: 30vw;
    background-color: black;
    color: green;
    font-size: 25pt;
    padding-left: 50px;
    word-break: break-all;
    &-list {
        list-style-type: none;
        counter-reset: item;
        & li:before {
            content: counter(item) ') ';
            counter-increment: item;
        }
    }
}

#result {
    position: relative;
    background-color: black;
    height: 20vh;
    color: green;
    &-answer {
        height: 60%;
        position: absolute;
        border: 1 solid black;
        text-align: right;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 10vh;
    }
}

#buttons {
    display: flex;
    height: 70vh;
    .numbers {
        display: flex;
        width: 60rem;
        &-col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            &-button {
                height: 100%;
                background-color: black;
                font-family: 'Digital';
                color: green; 
                font-size: 35pt;
                transition: background-color 0.5s ease-out;
                border: none;
                &:hover {
                background-color: rgb(50, 50, 50);
            }
            }
        }
    }
    .operands {
        display: flex;
        flex-direction: column;
        width: 30rem;
        background-color: darkred;
        &-button {
            font-family: 'Digital';
            height: 100%;
            color: green;
            background-color: black;
            font-size: 35pt;
            transition: background-color 0.5s ease-out;
            border: none;
            &:hover {
                background-color: rgb(50, 50, 50);
            }
        }
    }
}

#mode-button {
    font-family: 'Digital';
    position: relative;
    height: 10vh;
    width: 100%;
    font-size: 35pt;
    color: green;
    background-color: black;
    transition: background-color 0.5s ease-out;
    border: none;
    &:hover {
        background-color: rgb(50, 50, 50);
    }
}